.doit{
 
        font-family: "Sen", serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: bold;
      color: #3F9142;
      margin-left: 12px;
      font-size: larger;
    
}